
body {
  font-family: 'Arial', serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  margin-top: 40px;
  font-size: 80px;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  margin-top: 40px;
  font-size: 20px;
  line-height: 24px
}

p {
  margin-top: 80px;
}

button {
  font-family: 'Lato', sans-serif;
  margin-top: 40px;
  font-size: 28px;
  font-weight: bold;
}

.page-header {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #5F9BCE;
}

#image img {
  height: 200px;
  margin-top: 60px;
}
