<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>Przeprowadzki Bydgoszcz</h1>
    <h2>Nie Pozwól By Koszty Przeprowadzki W Bydgoszczy Wymknęły Się Spod Kontroli!</br> Odpowiedz Na 5 Krótkich Pytań I Zaoszczędź Nawet Do 30%</h2>
    <button onClick="showPicture()" class="btn btn-danger btn-lg">PROSZĘ O WYCENĘ</button>
  </div>

<div id="image"></div>
  <img src="https://cdn2.hubspot.net/hubfs/6526466/4ea04988-7f65-4fb0-a7d2-0d269b584b68-2.jpg" class="img-fluid" alt="Responsive image">
<p>Opinie</p>

<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<p>Cennik Poglądowy</p>
</body>

</html>