<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>Przeprowadzki Bydgoszcz</h1>
    <h2>Nie Pozwól By Koszty Przeprowadzki W Bydgoszczy Wymknęły Ci Się Spod Kontroli!</br> Odpowiedz Na 5 Krótkich Pytań I Zmniejsz Wydatki Nawet O 30%</h2>
  </div>
  <button onClick="showPicture()" class="btn btn-success btn-lg">PROSZĘ O WYCENĘ</button>

  <div id="image"></div>

  <p>Kliknij przycisk powyżej aby przejść do formularza</p>
  
</body>

</html>