<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/project">My Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Prosze o wycenę</a>
    </li>
    <li class="nav-item">
      <a class="nav-link item" href="tel:+48693158879">Zadzwoń teraz</a>
    </li>
  </ul>