<!-- Image and text -->

<div class="fixed-top"><nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://cdn2.hubspot.net/hubfs/6526466/clipart2965672.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Ekonomiczne Przeprowadzki
    </a>
  </nav></div>